.about__title {
  color: $color-big-text;
  font-family: $font-primary;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  // padding-left: 22px;
  margin: 0;
  // padding-top: -4px;
  margin-top: -3px;
  padding-left: 20px;
}

.about__list {
  list-style: none;
  padding: 14px 0 0;
}

.about__item {
  position: relative;
  color: $color-small-text;
  font-family: $font-secondary;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  padding-right: 20px;
  padding-left: 100px;
  padding-bottom: 26px;

  &--composition::before {
    position: absolute;
    content: "";
    background-image: url("../img/advantage-leaf@1x.png");
    background-position: center;
    background-color: $color-green;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    left: 20px;
    top: -2px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
      background-size: 60px 60px;
    }
  }

  &--type::before {
    position: absolute;
    content: "";
    background-image: url("../img/advantage-powder@1x.png");
    background-position: center;
    background-color: $color-green;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    left: 20px;
    top: -2px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-powder@2x.png");
      background-size: 60px 60px;
    }
  }

  &--period::before {
    position: absolute;
    content: "";
    background-image: url("../img/advantage-dining@1x.png");
    background-position: center;
    background-color: $color-green;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    left: 20px;
    top: -2px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-dining@2x.png");
      background-size: 60px 60px;
    }
  }

  &--changes::before {
    position: absolute;
    content: "";
    background-image: url("../img/advantage-clock@1x.png");
    background-position: center;
    background-color: $color-green;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    left: 20px;
    top: -2px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-clock@2x.png");
      background-size: 60px 60px;
    }
  }

  &--break {
    display: none;
  }
}

@media (min-width: $tablet) {
  .about {
    padding-left: 30px;
    padding-right: 30px;
  }

  .about__title {
    font-size: 60px;
    margin-top: 45px;
    padding-left: 0;
  }

  .about__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .about__item {
    font-size: 16px;
    line-height: 24px;
    flex-basis: 35%;
    padding-left: 0;
    padding-top: 109px;
    padding-bottom: 92px;
    margin-right: 56px;
    margin-top: 44px;

    &--break {
      display: block;
    }

    &::after {
      position: absolute;
      counter-increment: section;
      content: counter(section);
      font-size: 281px;
      top: 88px;
      right: 20px;
      font-family: $font-primary;
      color: $bg-light;
      z-index: -1;
    }

    &--composition::before {
      width: 80px;
      height: 80px;
      left: 0;
    }

    &--composition::after {
      left: 118px;
    }

    &--type::before {
      height: 80px;
      width: 80px;
      left: 0;
    }

    &--period::before {
      width: 80px;
      height: 80px;
      left: 0;
    }

    &--changes::before {
      width: 80px;
      height: 80px;
      left: 0;
    }
  }
}

@media (min-width: $desktop) {
  .about {
    padding-left: 40px;
    padding-right: 40px;
  }

  .about__title {
    margin-top: 67px;
    // margin-left: 80px;
  }

  .about__list {
    // margin-left: 81px;
  }

  .about__item {
    margin-right: -32px;
    flex-basis: 21%;
    padding-top: 111px;

    &::after {
      right: 30px;
    }
  }
}
