.about__title {
  color: $color-big-text;
  font-family: $font-primary;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;

  // padding-left: 22px;
  margin: 0;
  // padding-top: -4px;
  margin-top: -3px;
  padding-left: 20px;
}

.about__list {
  list-style: none;
  padding: 0;
  padding-top: 14px;
}

.about__item {
  position: relative;

  color: $color-small-text;
  font-family: $font-secondary;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  padding-right: 20px;
  padding-left: 100px;
  padding-bottom: 26px;

  &--composition::before {
    position: absolute;
    content: "";
    background-image: url("../img/icon-composition.png");
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    left: 20px;
    top: -2px;
  }

  &--type::before {
    position: absolute;
    content: "";
    background-image: url("../img/icon-type.png");
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    left: 20px;
    top: -2px;
  }

  &--period::before {
    position: absolute;
    content: "";
    background-image: url("../img/icon-period.png");
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    left: 20px;
    top: -2px;
  }

  &--changes::before {
    position: absolute;
    content: "";
    background-image: url("../img/icon-changes.png");
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    left: 20px;
    top: -2px;
  }

  &--break {
    display: none;
  }
}

@media (min-width: $tablet) {
  .about {
    padding-left: 30px;
    padding-right: 30px;
  }

  .about__title {
    font-size: 60px;
    margin-top: 45px;
    padding-left: 0;
  }

  .about__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .about__item {
    font-size: 16px;
    line-height: 24px;

    flex-basis: 35%;

    padding-left: 0;
    padding-top: 109px;
    padding-bottom: 92px;
    margin-right: 56px;
    margin-top: 44px;

    &--composition {
      background: url("../img/1.png");
      background-repeat: no-repeat;
      background-position: 65% top;

      &::before {
        position: absolute;
        content: "";
        background-image: url("../img/icon-composition-tablet.png");
        background-repeat: no-repeat;
        width: 80px;
        height: 80px;
        left: 0;
      }
    }

    &--type {
      background: url("../img/2.png");
      background-repeat: no-repeat;
      background-position: 80% top;

      &::before {
        position: absolute;
        content: "";
        background-image: url("../img/icon-type-tablet.png");
        background-repeat: no-repeat;
        height: 80px;
        width: 80px;
        left: 0;
      }
    }

    &--period {
      background: url("../img/3.png");
      background-repeat: no-repeat;
      background-position: 80% top;

      &::before {
        position: absolute;
        content: "";
        background-image: url("../img/icon-period-tablet.png");
        background-repeat: no-repeat;
        width: 80px;
        height: 80px;
        left: 0;
      }
    }

    &--changes {
      background: url("../img/4.png");
      background-repeat: no-repeat;
      background-position: 86% top;

      &::before {
        position: absolute;
        content: "";
        background-image: url("../img/icon-changes-tablet.png");
        background-repeat: no-repeat;
        width: 80px;
        height: 80px;
        left: 0;
      }
    }
  }
}

@media (min-width: $desktop) {
  .about {
    padding-left: 40px;
    padding-right: 40px;
  }

  .about__title {
    margin-top: 67px;
    // margin-left: 80px;
  }

  .about__list {
    // margin-left: 81px;
  }

  .about__item {
    margin-right: -32px;
    flex-basis: 21%;
    padding-top: 111px;

    &--composition {
      background-position: 62% top;
    }

    &--type {
      background-position: 74% top;
    }

    &--period {
      background-position: 76% top;
    }

    &--changes {
      background-position: 80% top;
    }
    &--break {
      display: block;
    }
  }
}
