.additionally__title {
  color: $color-big-text;
  font-family: $font-primary;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;

  margin: 0;
  padding-left: 19px;
  padding-top: 29px;
  padding-bottom: 39px;

  position: relative;
  z-index: 1;

  &::after {
    position: absolute;
    content: "";
    height: 3px;
    background-color: $color-green;
    width: 47%;
    top: 42px;
    right: 0;
    z-index: -1;
  }
}

.additionally__text {
  background-color: $color-ligth-text;
  padding-left: 0;
  padding-right: 21px;

  display: inline-block;
  // margin-left: 10px;
}

.additionally__info {
  margin: 0;
  padding-bottom: 22px;
}

.additionally__label {
  @include label;

  position: relative;

  padding-left: 66px;

  &:active {
    opacity: 0.3;
  }
}

.additionally__data:checked,
.additionally__data:not(:checked) {
  display: none;
}

.additionally__data:checked + label::before,
.additionally__data:not(:checked) + label::before {
  position: absolute;
  content: "";
  left: 19px;
  top: -3px;
  width: 29px;
  height: 29px;
  border: 1px solid $color-border;
  background-color: $color-ligth-text;
}

.additionally__data:checked:hover + label::before,
.additionally__data:not(:checked):hover + label::before {
  border: 1px solid #bababa;
}


.additionally__data:checked + label::after {
  content: "";
  position: absolute;
  transition: all 0.2s ease;

  left: 25px;
  top: 5px;
  width: 21px;
  height: 16px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
}

.additionally__data:checked:active + label::before,
.additionally__data:checked:active + label::after {
  opacity: 0.3;
}

.additionally__button {
  display: block;
  margin: 0 auto;

  margin-top: 17px;
  padding-left: 78px;
  padding-right: 78px;
}

.additionally__legend {
  display: block;
  text-align: center;

  color: $color-small-text;
  font-family: $font-secondary;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;

  padding-top: 21px;
  padding-bottom: 32px;
}

@media (min-width: $tablet) {
  .additionally {
    margin-top: 41px;
  }

  .additionally__title {
    font-size: 36px;
    padding-left: 69px;

    &::after {
      width: 100%;
      top: 45px;
    }
  }

  .additionally__text {
    margin-left: -38px;
    padding-left: 39px;
    padding-right: 42px;
  }

  .additionally__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3px;
    padding-left: 50px;
    padding-right: 41px;
    justify-content: space-between;
  }

  .additionally__info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 49%;
    margin: 0;
    padding-bottom: 22px;
    margin-top: 31px;
    // margin-bottom: 32px;
    box-sizing: border-box;
  }

  .additionally__label {
    font-size: 20px;

    padding-left: 78px;
  }

  .additionally__data:checked + label::before,
  .additionally__data:not(:checked) + label::before {
    width: 38px;
    height: 38px;
    top: -10px;
  }

  .additionally__data:checked + label::after {
    left: 29px;
    top: 2px;
  }

  .additionally__button {
    font-size: 20px;

    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 44px;
    margin-left: 70px;
    padding-left: 65px;
    padding-right: 65px;

    display: inline-block;
    vertical-align: top;
  }

  .additionally__legend {
    font-size: 16px;

    display: inline-block;
    vertical-align: top;

    padding: 0;

    margin-top: 61px;
    margin-left: 55px;
  }
}

@media (min-width: $desktop) {
  .additionally {
    margin-top: 44px;
    margin-bottom: 81px;
  }

  .additionally__title {
    padding-left: 0;

    &::after {
      top: 44px;
    }
  }

  .additionally__text {
    margin-left: -39px;
  }

  .additionally__list {
    flex-wrap: nowrap;
    padding-left: 42px;
    margin-top: 0;
  }

  .additionally__info {
    width: 20%;
  }

  .additionally__data:checked + label::before,
  .additionally__data:not(:checked) + label::before {
    top: -8px;
    left: -1px;
  }

  .additionally__data:checked + label::after {
    left: 10px;
    top: 4px;
  }

  .additionally__label {
    padding-top: 2px;
    padding-left: 58px;
  }

  .additionally__button {
    margin: 0;
    margin-top: 50px;
    padding-left: 207px;
    padding-right: 207px;
  }

  .additionally__legend {
    margin-top: 66px;
    margin-left: 77px;
  }
}
