.addition {
  border-bottom: 1px solid $color-border;
  padding-bottom: 16px;

  &:first-child {
    border-top: 1px solid $color-border;
  }
}

.addition__title {
  color: $color-title;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;

  padding-top: 13px;
  padding-bottom: 2px;
  margin: 0;
}

.addition__info {
  color: $color-small-text;
  font-family: $font-secondary;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;

  border-collapse: collapse;
  margin-top: 10px;

  width: 100%;
  margin-bottom: 16px;
}

.addition__definition {
  text-align: right;
}

@media (min-width: $tablet) {
  .addition {
    display: flex;
    flex-wrap: wrap;

    border-bottom: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;

    margin-left: 10px;
    margin-right: 10px;
    padding-left: 37px;
    padding-right: 36px;
    padding-top: 16px;
    padding-bottom: 26px;
  }

  .addition__title {
    font-size: 20px;

    min-width: 60%;
    display: inline-block;
    vertical-align: top;

    margin: 0;
  }

  .addition__info {
    max-width: 40%;
    font-size: 16px;

    margin: 0;
    margin-top: 16px;
  }

  .addition__info-string {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .addition__definition {
    padding-left: 49px;
  }

  .addition__button {
    width: 100%;
    margin: 0 auto;
    margin-top: 24px;
  }
}

@media (min-width: $desktop) {
  .addition {
    flex-wrap: nowrap;
    align-items: baseline;

    padding-left: 4px;
    padding-right: 4px;
    padding-top: 14px;
    padding-bottom: 14px;
    margin: 0;

    border-left: none;
    border-right: none;
  }

  .addition__title {
    min-width: 36%;
  }

  .addition__info {
    font-size: 16px;

    max-width: 33%;
    margin-right: 34px;
    margin-top: 11px;
  }

  .addition__info-string {
    justify-content: space-between;
  }

  .addition__button {
    margin: 0;
    width: 15%;
  }
}
