.additions__title {
  color: $color-big-text;
  font-family: $font-primary;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 20px;
  position: relative;
  padding-top: 10px;
  padding-bottom: 14px;
  z-index: 1;

  &::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    background-color: $color-green;
    left: 83%;
    top: 24px;

    z-index: -1;
  }
}

.additions__text {
  background-color: $color-ligth-text;
  padding-left: 0;
  padding-right: 21px;

  display: inline-block;
}

.additions__list {
  list-style: none;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.additions__action {
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-color: $color-green;
  background-repeat: no-repeat;
  background-position: center;

  margin-left: 20px;
  margin-right: 20px;
  margin-top: 38px;
  margin-bottom: 35px;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
    background-size: 280px 290px;
  }
}

.additions__action-image {
  margin: 0 auto;
  display: block;
  padding-top: 65px;
  padding-bottom: 46px;
}

.additions__action-description {
  color: $color-ligth-text;
  font-family: $font-secondary;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  // padding-top: 190px;
  padding-bottom: 43px;
}

@media (min-width: $tablet) {
  .additions {
    margin-top: -110px;
    margin-bottom: 76px;
  }

  .additions__title {
    font-size: 36px;
    padding-left: 67px;
    margin-bottom: 70px;

    &::after {
      width: 100%;
      left: 0;
      top: 25px;
    }
  }

  .additions__text {
    padding-left: 38px;
    padding-right: 34px;
    margin-left: -38px;
  }

  .additions__list {
    // padding-top: 41px;
  }

  .additions__action {
    background-image: url("../img/gift-photo-tablet.png");
    background-repeat: no-repeat;
    background-position: center;

    margin-left: 30px;
    margin-right: 30px;
    margin-top: 69px;

    max-height: 200px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
      background-size: 708px 200px;
    }
  }

  .additions__action-image {
    padding-top: 65px;
    padding-left: 91px;

    margin: 0;

    display: inline-block;
    vertical-align: top;
  }

  .additions__action-description {
    display: inline-block;
    vertical-align: top;

    margin-left: 273px;
    margin-top: 72px;
    text-align: left;
    margin-bottom: 25px;
  }
}

@media (min-width: $desktop) {
  .additions {
    position: relative;
    margin-top: -128px;
    margin-bottom: 51px;
  }

  .additions__title {
    padding: 0;
    margin: 0;
    padding-top: 65px;

    &::after {
      top: 81px;
    }
  }

  .additions__text {
    margin-left: -39px;
  }

  .additions__wrapper {
    display: flex;
    justify-content: space-between;
    padding-right: 0;
  }

  .additions__list {
    flex-basis: 71%;
    margin: 0;
    padding: 0;
    margin-top: 86px;
  }

  .additions__action {
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;

    padding-left: 0;
    padding-right: 0;

    min-height: 289px;
    box-sizing: border-box;

    margin-left: 0;
    // margin-right: 0;
    margin-top: 86px;

    // margin-left: 0;
    margin-right: 40px;
    // margin-top: 86px;
    min-width: 245px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
      background-size: 245px 292px;
    }
  }

  .additions__action-image {
    padding-left: 96px;
  }

  .additions__action-description {
    display: block;

    margin: 0;
    text-align: center;

    padding-top: 16px;
    padding-bottom: 0;
  }
}
