.additionally__title {
  color: $color-big-text;
  font-family: $font-primary;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;

  margin: 0;
  padding-left: 19px;
  padding-top: 29px;
  padding-bottom: 39px;

  position: relative;

  &::after {
    position: absolute;
    content: "";
    height: 3px;
    background-color: $color-green;
    width: 43%;
    top: 42px;
    right: 0;
  }
}

.additionally__info {
  margin: 0;
  padding-bottom: 22px;
}

.additionally__label {
  @include label;

  position: relative;

  padding-left: 66px;
}

.additionally__data:checked,
.additionally__data:not(:checked) {
  display: none;
}

.additionally__data:checked + label::before,
.additionally__data:not(:checked) + label::before {
  position: absolute;
  content: "";
  left: 19px;
  top: -3px;
  width: 29px;
  height: 29px;
  border: 1px solid $color-border;
  background-color: $color-ligth-text;
}

.additionally__data:checked + label::after {
  content: "";
  position: absolute;
  transition: all 0.2s ease;

  left: 25px;
  top: 5px;
  width: 21px;
  height: 16px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
}

.additionally__button {
  display: block;
  margin: 0 auto;

  margin-top: 17px;
  padding-left: 78px;
  padding-right: 78px;
}

.additionally__legend {
  display: block;
  text-align: center;

  color: $color-small-text;
  font-family: $font-secondary;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;

  padding-top: 21px;
  padding-bottom: 32px;
}

// @media (min-width: $tablet) {
//   .additionally__title {
//     font-size: 36px;
//     margin-left: 43px;
//   }
// }


@media (min-width: $tablet) {
  .additionally {
    margin-top: 41px;
  }

  .additionally__title {
    font-size: 36px;
    padding-left: 69px;

    &::before {
      content: "";
      position: absolute;
      width: 4%;
      height: 3px;
      top: 45px;
      left: 0;
      background-color: #68b738;
    }

    &::after {
      width: 58%;
      top: 45px;
    }
  }

  .additionally__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3px;
    margin-left: 51px;
    margin-right: 44px;
    justify-content: space-between;
  }

  .additionally__info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 49%;
    margin: 0;
    padding-bottom: 22px;
    margin-top: 31px;
    // margin-bottom: 32px;
    box-sizing: border-box;
  }

  .additionally__label {
    font-size: 20px;

    padding-left: 78px;
  }

  .additionally__data:checked + label::before,
  .additionally__data:not(:checked) + label::before {
    width: 38px;
    height: 38px;
    top: -10px;
  }

  .additionally__data:checked + label::after {
    left: 29px;
    top: 2px;
  }

  .additionally__button {
    font-size: 20px;

    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 41px;
    margin-left: 70px;
    padding-left: 65px;
    padding-right: 65px;

    display: inline-block;
    vertical-align: top;
  }

  .additionally__legend {
    font-size: 16px;

    display: inline-block;
    vertical-align: top;

    padding: 0;

    margin-top: 61px;
    margin-left: 55px;
  }
}

@media (min-width: $desktop) {
  .additionally {
    margin-top: 44px;
    margin-bottom: 81px;
  }

  .additionally__title {
    padding-left: 109px;

    &::before {
      width: 5%;
    }

    &::after {
      width: 75%;
    }
  }

  .additionally__list {
    flex-wrap: nowrap;
    margin-left: 91px;
    margin-right: 50px;
  }

  .additionally__button {
    margin-top: 49px;
    margin-left: 110px;
    padding-left: 207px;
    padding-right: 207px;
  }

  .additionally__legend {
    margin-top: 66px;
    margin-left: 77px;
  }
}
