.address--inner {
  background-color: $bg-light;
}

.address__text {
  display: flex;
  flex-direction: row;
  padding-left: 19px;
  // padding-right: 25px;
  padding-top: 28px;
  padding-bottom: 30px;
  justify-content: space-between;
}

.address__title {
  color: $color-big-text;
  font-family: $font-primary;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  flex-basis: 100px;
}

.address__coordinates {
  color: $color-small-text;
  font-family: $font-secondary;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  font-style: normal;

  // padding-left: 9px;

  flex-basis: 159px;
}

.address__map {
  height: 358px;
}

@media (min-width: $tablet) {
  .address--inner {
    background-color: $bg-light;

    margin-top: 76px;
  }

  .address__text {
    justify-content: space-between;

    padding-left: 71px;
    padding-right: 72px;
    padding-top: 64px;
    padding-bottom: 58px;

    // background-color: #f2f2f2;
  }

  .address__title {
    font-size: 20px;
    line-height: 25px;
    max-width: 25%;
  }

  .address__coordinates {
    font-size: 16px;
    max-width: 25%;
    text-align: right;
  }

  .address__coordinates-city {
    display: block;

    margin-top: 19px;
  }

  .address__map {
    height: 396px;
  }
}

@media (min-width: $desktop) {
  .address {
    position: relative;
  }

  .address__text {
    position: absolute;
    z-index: 2;
    background-color: white;
    top: 98px;
    left: 111px;
    max-width: 570px;
    box-sizing: border-box;

    padding-left: 76px;
    padding-right: 92px;
    padding-top: 61px;
    padding-bottom: 57px;
    text-align: left;
  }

  .address__title {
    max-width: 45%;
  }

  .address__coordinates {
    max-width: 45%;
  }
}
