.address--inner {
  background-color: $bg-light;
}

.address__text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding-left: 19px;
  padding-top: 28px;
  padding-bottom: 30px;
}

.address__title {
  color: $color-big-text;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  flex-basis: 100px;
}

.address__title--break {
  display: none;
}

.address__coordinates {
  color: $color-small-text;
  font-family: $font-secondary;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  font-style: normal;

  flex-basis: 159px;
}

.address__map {
  height: 358px;

  background-image: url("../img/bg-map-mobile@1x.png");
  background-color: rgb(241, 235, 220);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.png");
    background-size: 320px auto;
  }
}

@media (min-width: $tablet) {
  .address--inner {
    background-color: $bg-light;

    margin-top: 51px;
  }

  .address__text {
    justify-content: space-between;

    padding-left: 71px;
    padding-right: 72px;
    padding-top: 64px;
    padding-bottom: 58px;
  }

  .address__title {
    font-size: 20px;
    line-height: 25px;
    max-width: 35%;
    flex-basis: auto;
  }

  .address__title--break {
    display: block;
  }

  .address__coordinates {
    font-size: 16px;
    max-width: 25%;
    text-align: right;
  }

  .address__coordinates-city {
    display: block;

    margin-top: 19px;
  }

  .address__map {
    height: 396px;

    background-image: url("../img/bg-map-tablet@1x.png");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
      background-size: 768px auto;
    }
  }
}

@media (min-width: $desktop) {
  .address {
    position: relative;
  }

  .address__wrapper {
    position: relative;
  }

  .address__text {
    position: absolute;
    z-index: 2;
    background-color: white;
    top: 95px;
    left: 41px;
    width: 570px;
    box-sizing: border-box;
    padding-left: 75px;
    padding-right: 86px;
    padding-top: 64px;
    padding-bottom: 57px;
    text-align: left;
  }

  .address__title {
    max-width: 45%;
  }

  .address__coordinates {
    max-width: 45%;
    text-align: left;
  }

  .address__map {
    background-image: url("../bg-map-desktop@1x.png");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.png");
      background-size: auto 396px;
    }
  }
}
