.button {
  // min-width: 280px;
  display: block;
}

.button--action {
  @include button;

  color: $color-ligth-text;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  display: block;
  text-align: center;

  margin-top: -3px;

  &:hover {
    background-color: $color-green-darker;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.button--show {
  @include button;

  display: block;

  color: $color-small-text;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  background-color: $bg-light;

  margin-top: 21px;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    background-color: #ebebeb;
    color: rgba(68, 68, 68, 0.3);
  }
}

@media (min-width: $tablet) {
  .button--action {
    margin-left: 19px;
    margin-right: 19px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 35px;
  }

  .button--show {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 88px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: $desktop) {
  .button--action {
    padding-left: 54px;
    padding-right: 54px;
    margin-top: -2px;
  }

  .button--show {
    margin-left: 37px;
    margin-right: 37px;
  }
}
