.cat-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  // flex-wrap: wrap;

  margin: 0;
  padding-bottom: 15px;
}

.cat-info__label {
  @include label;

  padding-left: 20px;
  padding-right: 14px;
}

.cat-info__data {
  @include input;

  flex-grow: 1;

  &:focus:required:invalid {
    border-color: #ff8282;
  }

  &:optional:invalid {
    border-color: #ff8282;
  }
}

@media (min-width: $tablet) {
  .cat-info {
    padding-bottom: 20px;
  }

  .cat-info__label {
    font-size: 20px;
    padding-right: 18px;
    padding-left: 21px;
  }

  .cat-info__data {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 52px;
    box-sizing: border-box;

    &:active {
      padding-top: 9px;
      padding-bottom: 9px;
    }

    &[placeholder] {
      font-size: 20px;
    }
  }
}

@media (min-width: $desktop) {
  .cat-info__label {
    padding-left: 2px;
  }

  .cat-info__data {
    margin-right: 13px;
  }
}
