.catalog-main__title {
  color: $color-big-text;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;

  margin: 0;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 12px;
}

.catalog-main__list {
  padding: 0;
  list-style: none;
}

.catalog-main__more {
  position: relative;

  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 70px;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/icon-plus-mobile.svg");
    width: 30px;
    height: 30px;
    top: 26px;
    left: 145px;
  }
}

.catalog-main__more-title {
  color: $color-big-text;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  display: inline-block;
  vertical-align: top;
  padding-top: 9px;

  &--break {
    display: none;
  }
}

.catalog-main__more-small-title {
  display: block;

  color: $color-small-text;
  font-family: $font-secondary;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;

  margin-top: 7px;
}

@media (min-width: $tablet) {
  .catalog-main__title {
    font-size: 60px;
    margin-left: 10px;
    margin-top: 27px;
  }

  .catalog-main__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-left: 30px;
    margin-right: 30px;
    margin-top: 153px;
  }

  .catalog-main__more {
    background-color: $color-ligth-text;
    border: solid 1px $color-border;

    max-width: 324px;

    &::before {
      background-image: url("../img/icon-plus.svg");
      width: 61px;
      height: 61px;

      opacity: 0.2;
      top: 55px;
      left: 40%;
    }
  }

  .catalog-main__more-title {
    font-size: 20px;
    display: block;

    // margin-top: 92px;
    // padding-bottom: 39px;
    padding-top: 96px;

    &--break {
      display: block;
    }
  }

  .catalog-main__more-small-title {
    font-size: 16px;
    text-align: center;

    display: block;
    margin-top: 28px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: $desktop) {
  .catalog-main__title {
    margin: 0;
    padding: 0;
    margin-top: 57px;
  }

  .catalog-main__list {
    margin: 0;
    margin-top: 167px;
    justify-content: flex-start;
  }

  .catalog-main__more {
    padding: 0;

    max-width: 245px;

    &::before {
      left: 92px;
      top: 50px;
    }
  }

  .catalog-main__more-title {
    font-size: 20px;
    display: block;

    padding-top: 161px;
  }

  .catalog-main__more-small-title {
    margin-top: 27px;
  }
}
