.comment__title {
  color: $color-big-text;
  font-family: $font-primary;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;

  margin: 0;
  padding-left: 19px;
  padding-top: 14px;
  padding-bottom: 35px;

  position: relative;
  z-index: 1;

  &::after {
    position: absolute;
    content: "";
    height: 3px;
    background-color: $color-green;
    width: 50%;
    top: 28px;
    right: 0;
    z-index: -1;
  }
}

.comment__text {
  background-color: $color-ligth-text;
  padding-left: 0;
  padding-right: 21px;

  display: inline-block;
  margin-left: 10px;
}

.comment__wrapper {
  display: flex;
}

.comment__area {
  flex-grow: 1;
  min-height: 124px;
  border: 1px solid $color-border;
  resize: none;
  margin-left: 20px;
  margin-right: 20px;

  &[placeholder] {
    color: $color-small-text;
    font-family: $font-primary;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    padding-left: 14px;
    padding-right: 13px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

@media (min-width: $tablet) {
  .comment {
    margin-top: 41px;
  }

  .comment__title {
    font-size: 36px;
    padding-left: 69px;

    &::after {
      z-index: -1;
      width: 100%;
      top: 30px;
    }
  }

  .comment__text {
    padding-left: 39px;
    padding-right: 39px;
    margin-left: -39px;
  }

  .comment__wrapper {
    margin-top: 47px;
  }

  .comment__area {
    padding-top: 20px;
    margin-left: 70px;
    margin-right: 67px;

    &[placeholder] {
      font-size: 20px;

      padding-top: 15px;
      padding-left: 17px;
      padding-bottom: 34px;
    }
  }
}

@media (min-width: $desktop) {
  .comment {
    margin-top: 57px;
  }

  .comment__title {
    padding-left: 0;
  }

  .comment__text {
    margin-left: -40px;
  }

  .comment__area {
    margin: 0;
  }
}
