.example {
  background-color: $bg-light;
}

.example__title {
  margin: 0;
  padding: 0;
  padding-top: 21px;
  padding-left: 20px;

  color: $color-big-text;
  font-family: $font-primary;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
}

.example__desctiption {
  font-family: $font-secondary;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  padding-top: 23px;
  margin: 0;
  padding-left: 20px;
  padding-right: 25px;
}

.example__result-total {
  color: $color-big-text;
  font-family: $font-primary;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  padding-top: 3px;
  display: block;
  text-align: center;
}

.example__img {
  margin: 0 auto;
  margin-top: 34px;

  display: block;
}

.example__switch {
  padding-left: 20px;
  padding-right: 20px;

  text-align: center;
}

.example__switch-label {
  color: $color-big-text;
  font-family: $font-primary;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

@media (min-width: $tablet) {
  .example {
    padding-left: 30px;
    padding-right: 30px;

    background-color: transparent;
  }

  .example__title {
    font-size: 60px;
    padding-left: 0;
    margin-top: 35px;
  }

  .example__desctiption {
    font-size: 16px;
    line-height: 24px;
    padding-left: 0;
    padding-top: 64px;
  }

  .example__result {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-top: 15px;
  }

  .example__result-total {
    font-size: 20px;
    padding-top: 6px;
  }

  .example__result-sum {
    display: block;
    text-align: right;
  }
}

@media (min-width: $desktop) {
  .example {
    padding-left: 40px;
    padding-right: 40px;
  }

  .example__title {
    margin-top: -2px;
    margin-bottom: 76px;
  }

  .example__desctiption {
    max-width: 36%;
    margin-top: 82px;
  }

  .example__result {
    margin-top: 31px;
    flex-direction: column;
    align-items: start;
  }

  .example__result-total {
    margin-top: 35px;
  }

  .example__result-sum {
    display: inline-block;
    vertical-align: top;
    padding-left: 59px;
  }
}
