.example {
  background-color: $bg-light;
  padding-bottom: 34px;
}

.example__title {
  margin: 0;
  padding: 21px 0 0 20px;
  color: $color-big-text;
  font-family: $font-primary;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
}

.example__desctiption {
  font-family: $font-secondary;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  padding-top: 23px;
  margin: 0;
  padding-left: 20px;
  padding-right: 25px;
}

.example__result-total {
  color: $color-big-text;
  font-family: $font-primary;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  padding-top: 3px;
  display: block;
  text-align: center;
}

.example__img {
  margin: 34px auto 0;
  padding-bottom: 35px;
  display: block;
  position: relative;
  text-align: center;
}

.example__img-after {
  position: absolute;
  left: 0;
  display: none;
}

.example__switch {
  margin: -8px auto 0;
  padding-left: 9px;
  padding-right: 5px;
  max-width: 67%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.example__switch-line {
  position: relative;
  margin-bottom: 2px;
  flex-basis: 38%;
  height: 12px;
  border-radius: 6px;
  border: solid 1px $color-border;
  background-color: $color-ligth-text;

  &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 5px;
    width: 35px;
    height: 6px;
    border-radius: 3px;
    background-color: $color-green;
    cursor: pointer;
  }
}

.example__switch-label {
  color: $color-big-text;
  font-family: $font-primary;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

@media (min-width: $tablet) {
  .example {
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 73px;
    background-color: transparent;

    &::after {
      position: absolute;
      content: "";
      height: 462px;
      width: 100%;
      left: 0;
      background: linear-gradient(to left, #e5e5e5 50%, #efefef 50%);
      z-index: -3;
      bottom: 0;
    }
  }

  .example__title {
    font-size: 60px;
    padding-left: 30px;
    margin-top: 35px;
  }

  .example__desctiption {
    font-size: 16px;
    line-height: 24px;
    padding-left: 30px;
    padding-right: 40px;
    padding-top: 64px;
  }

  .example__result {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .example__result-total {
    font-size: 20px;
    padding-top: 18px;
  }

  .example__result-sum {
    display: block;
    text-align: right;
    margin-top: 9px;
  }

  .example__img {
    margin-top: 67px;
    padding-bottom: 35px;
    padding-left: 14px;
    display: flex;
  }

  .example__img-before-wrapper {
    position: relative;
    width: 49%;
    overflow: hidden;

    &::before {
      position: absolute;
      content: "";
      width: 400px;
      height: 519px;
      background: linear-gradient(to top, #efefef 66%, white -6%);
      z-index: -1;
      top: -7px;
    }
  }

  .example__img-before {
    width: auto;
    height: 517px;
    margin-left: 32px;
  }

  .example__img-after-wrapper {
    position: relative;

    &::before {
      // position: absolute;
      // content: "";
      // background-color: #efefef;
      // height: 462px;
      // width: 999px;
      // bottom: -109px;
      // z-index: -2;
    }
  }

  .example__img-after {
    z-index: -2;
    position: absolute;
    left: -337px;
    width: auto;
    height: 517px;

    display: block;
  }

  .example__switch {
    margin: -21px auto 0;
    padding-left: 0;
    padding-right: 0;
    max-width: 76%;
  }

  .example__switch-line {
    position: relative;
    margin-bottom: 6px;
    flex-basis: 75%;
    height: 6px;
    border-radius: 2.5px;
    background-color: $color-border;

    &::before {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      background-color: #eaeaea;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
      border-radius: 50%;
      left: 50%;
      margin-left: -12px;
      top: -12px;
      cursor: pointer;

      &:hover {
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
      }
    }

    &::after {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      background-color: $color-green;
      border-radius: 50%;
      left: 50%;
      margin-left: -1px;
      top: -1px;
      cursor: pointer;
    }
  }

  .example__switch-label {
    font-size: 20px;

    &:hover .example__switch-label-text {
      border-bottom: 1px solid rgba(134, 134, 134, 0.4);
    }

    &:active .example__switch-label-text {
      border-bottom: none;
    }
  }

  .example__switch-label-text {
    padding-bottom: 1px;
    border-bottom: 1px dotted #cdcdcd;
  }
}

@media (min-width: $desktop) {
  .example {
    padding: 0;
    padding-bottom: 75px;
    position: relative;

    &::after {
      background: none;
      background-color: #efefef;
    }
  }

  .example__wrapper {
    position: relative;
  }

  .example__title {
    margin-top: -2px;
    margin-bottom: 76px;
    padding-left: 0;
    // margin-left: -40px;
  }

  .example__desctiption {
    max-width: 36%;
    margin-top: 82px;
    // margin-left: -40px;
    padding-left: 0;
  }

  .example__result {
    margin-top: 31px;
    flex-direction: column;
    align-items: start;
    padding-left: 0;
    // margin-left: -40px;
  }

  .example__result-total {
    margin-top: 23px;
  }

  .example__result-sum {
    display: inline-block;
    vertical-align: top;
    padding-left: 59px;
    margin-top: 0;
  }

  .example__img {
    position: absolute;
    right: 0;
    top: -102px;
  }

  .example__img-before-wrapper {
    width: 55%;
    overflow: hidden;

    &::before {
      position: absolute;
      content: "";
      height: 520px;
      background: linear-gradient(to top, #efefef 65%, #ffffff -6%);
      top: 10px;
    }
  }

  .example__img-after-wrapper {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      background-color: #e5e5e5;
      height: 462px;
      width: 999px;
      bottom: -132px;
      z-index: -2;
    }
  }

  .example__img-after {
    left: -365px;
  }

  .example__switch {
    position: absolute;
    width: 45%;
    right: 33px;
  }
}
