.example {
  background-color: $bg-light;
}

.example__title {
  margin: 0;
  padding: 0;
  padding-top: 21px;
  padding-left: 20px;

  color: $color-big-text;
  font-family: $font-primary;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
}

.example__desctiption {
  font-family: $font-secondary;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  padding-top: 23px;
  margin: 0;
  padding-left: 20px;
  padding-right: 25px;
}

.example__result-total {
  color: $color-big-text;
  font-family: $font-primary;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  padding-top: 3px;
  display: block;
  text-align: center;
}

.example__img {
  margin: 0 auto;
  margin-top: 34px;
  padding-bottom: 35px;

  display: block;
  position: relative;

  text-align: center;
}

.example__img-after {
  position: absolute;
  left: 0;
}

.example__switch {
  padding-left: 64px;
  padding-right: 58px;
  margin-top: 28px;

  text-align: center;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.example__switch-label {
  color: $color-big-text;
  font-family: $font-primary;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media (min-width: $tablet) {
  .example {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 32px;

    background-color: transparent;
  }

  .example__title {
    font-size: 60px;
    padding-left: 0;
    margin-top: 35px;
  }

  .example__desctiption {
    font-size: 16px;
    line-height: 24px;
    padding-left: 0;
    padding-top: 64px;
  }

  .example__result {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-top: 15px;
  }

  .example__result-total {
    font-size: 20px;
    padding-top: 18px;
  }

  .example__result-sum {
    display: block;
    text-align: right;
    margin-top: 9px;
  }

  .example__img {
    margin-top: 66px;
    padding-bottom: 35px;
    padding-left: 14px;

    display: block;
    text-align: center;
  }

  .example__img-after {
    position: absolute;
    left: 70px;
  }

  .example__switch {
    margin-top: 15px;
    padding-left: 54px;
    padding-right: 70px;
  }

  .example__switch-line {
    position: relative;

    margin-bottom: 6px;
    flex-basis: 75%;
    height: 6px;

    border-radius: 2.5px;
    background-color: $color-border;

    &::before {
      content: "";
      position: absolute;

      width: 30px;
      height: 30px;

      background-color: #eaeaea;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
      border-radius: 50%;

      left: 50%;
      margin-left: -12px;
      top: -12px;

      cursor: pointer;
    }

    &::after {
      content: "";
      position: absolute;

      width: 8px;
      height: 8px;

      background-color: $color-green;
      border-radius: 50%;

      left: 50%;
      margin-left: -1px;
      top: -1px;

      cursor: pointer;
    }
  }

  .example__switch-label {
    font-size: 20px;

    padding-bottom: 6px;

    border-bottom: 1px dotted $color-border;
  }
}

@media (min-width: $desktop) {
  .example {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 75px;

    position: relative;
  }

  .example__title {
    margin-top: -2px;
    margin-bottom: 76px;
  }

  .example__desctiption {
    max-width: 36%;
    margin-top: 82px;
  }

  .example__result {
    margin-top: 31px;
    flex-direction: column;
    align-items: start;
  }

  .example__result-total {
    margin-top: 23px;
  }

  .example__result-sum {
    display: inline-block;
    vertical-align: top;
    padding-left: 59px;
    margin-top: 0;
  }

  .example__img {
    position: absolute;

    right: -1px;
    top: -99px;
  }

  .example__switch {
    margin-top: 36px;
    padding-left: 79px;
    padding-right: 41px;
  }
}
