.indicator {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.indicator__number {
  color: $color-big-text;
  font-family: $font-primary;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;

  border-radius: 3px;
  border: 1px solid $color-border;

  min-width: 124px;

  padding: 0;
  padding-top: 13px;
  padding-bottom: 17px;
  box-sizing: border-box;
}

.indicator__description {
  color: $color-small-text;
  font-family: $font-secondary;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;

  max-width: 80px;
  margin: 0 auto;
  margin-top: -9px;
  background-color: $bg-light;
}

@media (min-width: $tablet) {
  // .indicator {
  //   min-width: 162px;
  // }

  .indicator__number {
    font-size: 30px;

    padding: 0;
    padding-top: 22px;
    padding-bottom: 24px;

    display: inline-block;
    vertical-align: top;
    min-width: 160px;
  }

  .indicator__description {
    max-width: none;
    font-size: 14px;
    margin-top: -8px;
    padding-left: 10px;
    padding-right: 10px;

    background-color: $color-ligth-text;
  }
}
