@media (min-width: $desktop) {
  .inner-nav__link {
    color: $color-big-text;

    &:hover {
      color: rgba(17, 17, 17, 0.6);
    }

    &:active {
      color: rgba(17, 17, 17, 0.3);
    }
  }

  .inner-nav__link--current {
    border-bottom: 2px solid $color-green;
  }
}
