.main-nav__list {
  font-family: $font-primary;

  list-style: none;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
}

.main-nav__item {
  padding-top: 21px;
  padding-bottom: 24px;
  // border: 1px dotted #e6e6e6;
}

.main-nav__item-link {
  @include link-base;
  color: $color-big-text;

  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
}

@media (min-width: $tablet) {
  .main-nav__list {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
  }

  .main-nav__item-link {
    color: $color-title;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;

    padding-bottom: 7px;
  }

  .main-nav__item-link--current {
    border-bottom: 2px solid $color-green;
  }

  .main-nav__item:not(:last-child) {
    padding-right: 35px;
  }
}

@media (min-width: $desktop) {
  .main-nav__list {
    padding-right: 9px;
  }

  .main-nav__item-link {
    font-size: 20px;
    padding-bottom: 6px;

    color: $color-ligth-text;
  }

  .main-nav__item-link--current {
    border-bottom: 2px solid $color-ligth-text;
  }

  .nav__item:not(:last-child) {
    padding-right: 34px;
  }
}
