.main-intro {
  text-align: center;
}

.main-intro::before {
  content: "";
  position: absolute;
  background-image: url("../img/index-background-mobile@1x.jpg");
  z-index: -1;
  left: 0;
  right: 0;
  height: 305px;
  background-position-x: center;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
    background-size: 320px 306px;
  }
}

.main-intro__title {
  color: $color-ligth-text;
  font-family: $font-primary;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  padding-top: 28px;
  padding-bottom: 23px;
  margin: 0 auto;
  max-width: 320px;
}

.main-intro__tagline {
  color: $color-ligth-text;
  font-family: $font-primary;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;
}

.main-intro__image {
  padding-top: 25px;
  padding-bottom: 3px;
  margin: 0 auto;
  display: block;
}

.main-intro__button {
  @include button;
  color: $color-ligth-text;
  font-family: $font-primary;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;

  &:hover {
    background-color: $color-green-darker;
  }

  &:active {
    color: $color-white-lighter;
  }
}

@media (min-width: $tablet) {
  .main-intro {
    background-image: none;
    text-align: center;
    position: relative;

    &::before {
      display: none;
    }
  }

  .main-intro__title {
    color: $color-big-text;
    font-family: $font-primary;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
    padding-top: 41px;
    max-width: 420px;
    margin-left: 117px;
  }

  .main-intro__tagline {
    display: block;
    color: $color-big-text;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    margin-left: 120px;
    padding-top: 19px;
  }

  .main-intro__image {
    padding-top: 20px;
    margin-bottom: -34px;
    width: 709px;
    height: 609px;
  }

  .main-intro__button {
    position: absolute;
    top: 270px;
    left: 119px;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    padding: 15px 29px 17px 26px;
  }
}

@media (min-width: $desktop) {
  .main-intro {
    position: static;

    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      left: 50%;
      background-image: url("../img/index-background-desktop@1x.jpg");
      height: 696px;
      z-index: -1;

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
        background-size: 720px 696px;
      }
    }
  }

  .main-intro__title {
    margin-top: 51px;
    margin-left: 80px;
    padding-bottom: 22px;
  }

  .main-intro__tagline {
    margin-left: 80px;
  }

  .main-intro__image {
    display: inline-block;
    margin-top: -282px;
    margin-left: 232px;
    width: 552px;
    height: 499px;
  }

  .main-intro__button {
    // margin-left: 71px;
    // margin-top: 186px;
    margin-top: -158px;
    margin-right: 815px;
    position: static;
  }
}
