.page-footer {
  background-color: $bg-light;
}

.page-footer__wrapper {
  text-align: center;
}

.page-footer__logo {
  padding-top: 39px;
  display: block;
  padding-bottom: 26px;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 1px solid $color-border-light;
}

@media (min-width: $tablet) {
  .page-footer {
    background-color: #f2f2f2;
  }

  .page-footer__wrapper {
    text-align: center;

    display: flex;
    justify-content: space-between;

    padding-left: 30px;
    padding-right: 23px;
    padding-top: 25px;
    padding-bottom: 30px;
  }

  .page-footer__logo {
    margin-left: 0;
    border: none;
  }
}

@media (min-width: $desktop) {
  .page-footer-wrapper {
    padding-left: 110px;
    padding-right: 102px;
    padding-top: 29px;
  }
}
