.page-header {
  text-align: center;
}

.page-header__wrapper {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 23px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .page-header {
    display: block;
  }
}

.page-header__logo {
  @include link-base;

  position: relative;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__button {
  background-image: url("../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
  border: none;
  height: 19px;
  width: 25px;
  text-decoration: none;

  cursor: pointer;

  display: block;
}

.page-header__button--close {
  background-repeat: no-repeat;
  border: none;

  text-decoration: none;

  cursor: pointer;

  background-image: url("../img/icon-close.svg");
  height: 18px;
  width: 18px;
}

@media (min-width: $tablet) {
  .page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-left: 30px;
    padding-right: 30px;
  }

  .page-header--center {
    max-width: $tablet;
    margin: 0 auto;

    box-sizing: border-box;
  }

  .page-header__wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .page-header__logo {
    position: relative;

    &::after {
      display: none;
    }
  }

  .page-header__logo-image {
    width: 174px;
    height: 59px;

    margin-top: 11px;
  }

  .page-header__button {
    display: none;
  }
}

@media (min-width: $desktop) {
  .page-header {
    padding-top: 32px;
  }

  .page-header__wrapper {
    padding-left: 9px;
  }

  .page-header__logo-image {
    width: 203px;
    height: 60px;
  }
}
