.person__title {
  color: $color-big-text;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;

  padding-left: 19px;
  padding-top: 30px;
  padding-bottom: 34px;
  margin: 0;

  z-index: 1;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    top: 44px;
    left: 50%;
    z-index: -1;

    background-color: $color-green;
  }
}

.person__container {
  padding-left: 0;
}

.person__text {
  background-color: $color-ligth-text;

  padding-left: 0;
  padding-right: 21px;
  display: inline-block;
}

.person__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0 0 15px;
  position: relative;
}

.person__label {
  @include label;
  padding-left: 20px;
  padding-right: 11px;
}

.person__data {
  @include input;
  flex-grow: 1;
  position: relative;
  margin-right: 20px;
  box-sizing: border-box;

  &[placeholder] {
    padding-right: 50px;
  }

  &[id="person-telephone"] {
    width: 204px;
  }

  &[id="person-email"] {
    width: 219px;
  }

  &:active + .person__icon,
  &:focus + .person__icon {
    fill: $color-green;
  }

  &:focus:invalid {
    border: 2px solid #ff8282;

    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 15px;
  }

  &:focus:invalid + .person__icon {
    fill: #ff8282;
  }
}

.person__icon {
  position: absolute;
  fill: $color-title;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 34px;
}

@media (min-width: $tablet) {
  .person {
    margin-top: 53px;
  }

  .person__title {
    font-size: 36px;

    margin-bottom: 46px;
    padding-left: 69px;

    &::after {
      left: 0;
      top: 44px;
    }
  }

  .person__text {
    padding-left: 39px;
    padding-right: 43px;
    margin-left: -39px;
  }

  .person__title--break {
    display: none;
  }

  .person__info-wrapper {
    margin-top: 45px;
  }

  .person__info {
    padding-left: 52px;
    padding-right: 46px;
  }

  .person__label {
    font-size: 20px;
    padding-right: 15px;
  }

  .person__data {
    margin-right: 20px;
    height: 56px;
    box-sizing: border-box;

    &[placeholder] {
      font-size: 20px;
    }
  }

  .person__icon {
    right: 85px;
  }
}

@media (min-width: $desktop) {
  .person {
    margin-top: 18px;
  }

  .person__title {
    padding-left: 0;
    z-index: 1;

    &::after {
      width: 100%;
      left: 0;
      top: 46px;
      position: absolute;
      content: "";
      z-index: -1;
      height: 3px;

      background-color: $color-green;
    }
  }

  .person__container {
    padding-left: 0;
  }

  .person__text {
    background-color: $color-ligth-text;

    padding-left: 39px;
    padding-right: 42px;
    margin-left: 0;
  }

  .person__info-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .person__info {
    padding: 0;
    flex-basis: 47%;
  }

  .person__label {
    font-size: 20px;
    padding-right: 21px;
    padding-left: 0;
  }

  .person__data {
    margin-right: 0;
  }

  .person__icon {
    right: 20px;
  }
}
