.person__title {
  color: $color-big-text;
  font-family: $font-primary;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;

  padding-left: 19px;
  padding-top: 28px;
  padding-bottom: 34px;
  margin: 0;

  position: relative;

  &::after {
    position: absolute;
    content: "";
    height: 3px;
    background-color: $color-green;
    width: 31%;
    top: 42px;
    right: 0;
  }
}

.person__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;

  margin: 0;
  padding-bottom: 15px;

  position: relative;
}

.person__label {
  @include label;

  padding-left: 20px;
  padding-right: 11px;
}

.person__data {
  @include input;

  flex-grow: 1;
  position: relative;
}

// не могу вставить иконки :(

.person__data[type="email"]::after {
  position: absolute;
  content: "";
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  width: 17px;
  height: 13px;
  top: 0;
  right: 0;
}

.person__data[type="tel"]::after {
  position: absolute;
  content: "";
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  top: 0;
  right: 0;
}

@media (min-width: $tablet) {
  .person {
    margin-top: 53px;
  }

  .person__title {
    font-size: 36px;
    margin-bottom: 46px;
    padding-left: 69px;

    &::before {
      position: absolute;
      content: "";
      height: 3px;
      background-color: $color-green;
      width: 4%;
      top: 44px;
      left: 0;
    }

    &::after {
      width: 19%;
      top: 44px;
    }
  }

  .person__title--break {
    display: none;
  }

  .person__info {
    padding-left: 51px;
    padding-right: 47px;
  }

  .person__label {
    font-size: 20px;
    padding-right: 15px;
  }

  .person__data[placeholder] {
    font-size: 20px;
  }
}

@media (min-width: $desktop) {
  .person {
    margin-top: 18px;
  }

  .person__title {
    padding-left: 109px;

    &::before {
      width: 5%;
    }

    &::after {
      width: 54%;
    }
  }

  .person__info-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-left: 92px;
    margin-right: 91px;
  }

  .person__info {
    padding: 0;
    flex-basis: 48%;
  }
}
