.product {
  border-bottom: 1px solid #ededed;
  padding-left: 19px;
  padding-right: 19px;
  padding-bottom: 21px;

  &:first-child {
    border-top: 1px solid #ededed;
  }
}

.product__wrapper {
  display: flex;
  align-items: center;
}

.product__link {
  @include link-base;
}

.product__title {
  color: $color-big-text;
  // font-family: $font-primary;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  padding-right: 50px;
  padding-bottom: 1px;
}

.product__description {
  flex-grow: 1;
}

.product__info {
  color: $color-small-text;
  font-family: $font-secondary;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  border-collapse: collapse;
  margin-top: 10px;
  width: 100%;
}

.product__definition {
  text-align: right;
}

@media (min-width: $tablet) {
  .product {
    background-color: $bg-light;
    position: relative;
    width: 46%;
    box-sizing: border-box;
    margin-bottom: 141px;
    padding-bottom: 40px;
  }

  .product__image-link {
    position: absolute;
    left: 0;
    bottom: 298px;
  }

  .product__image {
    width: 324px;
    height: auto;
  }

  .product__link {
    display: block;
    text-align: center;
  }

  .product__description {
    margin-left: 18px;
    margin-right: 18px;
  }

  .product__title {
    font-size: 20px;
    padding: 162px 0 14px;
  }

  .product__title-weight {
    display: block;
  }

  .product__info {
    font-size: 16px;
  }
  // for IE
  .product__info-string {
    border-bottom: 1px solid $color-border;
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
  }
  // for IE
  .product__definition {
    position: absolute;
    right: 0;
  }
}

@media (min-width: $desktop) {
  .product {
    margin-bottom: 146px;
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 37px;
    max-width: 20%;
    margin-left: 2px;
  }

  .product__wrapper {
    padding-bottom: 37px;
  }

  .product__image-link {
    bottom: 298px;
  }

  .product__image {
    width: 246px;
    height: auto;
  }

  .product__info-wrapper {
    display: flex;
    flex-direction: column;
  }

  .product__info-string {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .product__title {
    padding-bottom: 9px;
  }
}
