.programs {
  padding-left: 20px;
  padding-right: 20px;
}

.programs__list {
  list-style: none;
  padding: 0;

  margin-top: 22px;
}

.programs__item {
  position: relative;
  padding-top: 30px;
  padding-left: 19px;
  padding-right: 21px;
  margin-bottom: 20px;
  padding-bottom: 19px;


  background-color: $bg-light;

  &--slim::before {
    content: "";
    position: absolute;
    background-color: $color-green;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 50px;
    height: 49px;
    left: 22px;
    top: 25px;
  }

  &--slim::after {
    content: "";
    position: absolute;
    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
    width: 35px;
    height: 49px;
    left: 30px;
    top: 23px;
  }

  &--mass::before {
    content: "";
    position: absolute;
    background-color: $color-green;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    left: 22px;
    top: 24px;
  }

  &--mass::after {
    content: "";
    position: absolute;
    background-image: url("../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
    width: 67px;
    height: 50px;
    left: 13px;
    top: 35px;
  }
}

.programs__title {
  color: $color-big-text;
  font-family: $font-primary;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  padding-left: 72px;
}

.programs__description {
  position: relative;

  color: $color-small-text;
  font-family: $font-secondary;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  padding-top: 15px;
  padding-left: 1px;
  padding-bottom: 28px;

  &::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 240px;
    opacity: 0.1;
    bottom: 5px;
    left: 1px;
    background-color: $color-big-text;
  }
}


.programs__button {
  @include link-base;
  position: relative;
  color: $color-big-text;
  font-family: $font-primary;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;

  &:active {
    color: $color-black-lighter;
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 11px;
    top: 7px;
    left: 97px;
  }
}

@media (min-width: $tablet) {
  .programs {
    padding-left: 30px;
    padding-right: 30px;
  }

  .programs__title {
    color: $color-big-text;
    font-size: 36px;
    padding-left: 0;
  }

  .programs__description {
    max-width: 54%;
    margin: 0;

    padding-top: 25px;
    margin-left: -2px;

    font-size: 16px;
    line-height: 24px;

    &::after {
      display: none;
    }
  }

  .programs__item--slim .programs__description {
    max-width: 60%;
  }

  .programs__list {
    margin-top: 31px;
  }

  .programs__item {
    padding-top: 76px;
    padding-left: 54px;
    padding-bottom: 59px;
    margin-bottom: 30px;

    &--slim::before {
      width: 200px;
      height: 200px;
      right: 0;
      top: 92px;
      left: 446px;
    }

    &--slim::after {
      width: 141px;
      height: 194px;
      top: 80px;
      left: 476px;
    }

    &--mass::before {
      width: 200px;
      height: 200px;
      right: 0;
      top: 91px;
      left: 448px;
    }

    &--mass::after {
      width: 268px;
      height: 200px;
      top: 135px;
      left: 412px;
    }
  }

  .programs__button {
    font-size: 20px;
    display: inline-block;
    margin-top: 30px;

    &::after {
      top: 3px;
      left: 127px;
    }
  }
}

@media (min-width: $desktop) {
  .programs {
    padding-left: 40px;
    padding-right: 40px;
  }

  .programs__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-top: 152px;
  }

  .programs__title {
    padding-left: 216px;
    padding-top: 76px;
  }

  .programs__description {
    padding-top: 74px;
    padding-left: 56px;
    padding-bottom: 3px;

    max-width: 85%;
  }

  .programs__item--slim .programs__description {
    max-width: 85%;
  }

  .programs__item {
    flex-basis: 47%;
    padding: 0;
    padding-bottom: 59px;
    margin-bottom: 5px;
    margin-top: -8px;

    &--slim::before {
      width: 100px;
      height: 101px;
      top: 46px;
      left: 52px;
    }

    &--slim::after {
      width: 71px;
      height: 97px;
      top: 41px;
      left: 66px;
    }

    &--mass::before {
      width: 100px;
      height: 100px;
      top: 47px;
      left: 55px;
    }

    &--mass::after {
      width: 134px;
      height: 57px;
      top: 69px;
      left: 37px;
    }
  }

  .programs__button {
    margin-left: 54px;
  }
}
