.result {
  list-style: none;

  display: flex;
  justify-content: space-around;

  padding: 0;
  margin: 0;
  padding-top: 9px;
}

// .result__item {
//
// }

@media (min-width: $tablet) {
  .result {
    padding-top: 21px;
  }

  .result__item {
    margin-right: 45px;
  }
}
