.social {
  list-style: none;

  padding: 0;
  display: flex;
  margin: 0;
  justify-content: space-between;
  align-items: center;

  padding-top: 23px;
  padding-bottom: 16px;

  border-bottom: 1px solid $color-border-light;

  margin-left: 20px;
  margin-right: 20px;
  padding-left: 72px;
  padding-right: 81px;
}

.social__link {
  position: relative;
}

.social__link--vk {
  width: 22px;
  height: 12px;
  fill: #666666;
}

.social__link--instagram {
  width: 16px;
  height: 16px;
  fill: #666666;
}

.social__link--facebook {
  width: 10px;
  height: 19px;
  fill: #666666;
}

.social__link:hover .social__link--vk,
.social__link:hover .social__link--instagram,
.social__link:hover .social__link--facebook {
  fill: $color-green;
}

.social__link:active .social__link--vk,
.social__link:active .social__link--instagram,
.social__link:active .social__link--facebook {
  fill: $color-green;
  opacity: 0.3;
}

@media (min-width: $tablet) {
  .social {
    border: none;
    padding: 0;
  }

  .social__item:not(:first-child) {
    margin-left: 38px;
  }

  .social__link--vk {
    width: 30px;
    height: 16px;
    margin-right: -10px;
  }

  .social__link--instagram {
    width: 23px;
    height: 23px;
    margin-right: -10px;
  }

  .social__link--facebook {
    width: 14px;
    height: 28px;
  }
}
