.target {
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}

.target__info {
  margin: 0;
  padding-top: 11px;
  padding-bottom: 11px;
}

.target__label {
  @include label;

  padding-left: 46px;

  position: relative;
}

.target__data:checked,
.target__data:not(:checked) {
  display: none;
}

.target__data:checked + label::before,
.target__data:not(:checked) + label::before {
  position: absolute;
  content: "";
  left: -1px;
  top: -3px;
  width: 29px;
  height: 29px;
  border: 1px solid $color-border;
  background-color: $color-ligth-text;

  border-radius: 100%;
}

.target__data:checked + label::after {
  content: "";
  position: absolute;

  left: 8px;
  top: 7px;
  width: 12px;
  height: 12px;
  background-color: $color-green;
  border-radius: 100%;
}

@media (min-width: $tablet) {
  .target {
    border: 1px solid $color-border;
  }

  .target__info {
    padding-top: 8px;
    padding-bottom: 16px;
  }

  .target__data:checked + label::before,
  .target__data:not(:checked) + label::before {
    left: -2px;
    top: -3px;
    width: 38px;
    height: 38px;
  }

  .target__data:checked + label::after {
    left: 10px;
    top: 8px;
    width: 17px;
    height: 17px;
  }

  .target__label {
    font-size: 20px;
    display: inline-block;

    padding-top: 7px;
    padding-left: 57px;
  }
}
