@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswaldregular.woff") format("woff");
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"),
    url("../fonts/oswaldmedium.woff") format("woff");
}


// жирный
// @font-face {
//  font-family: "Oswald";
//  src: url("../fonts/oswaldmedium.woff2") format("woff2"),
//         url("../fonts/oswaldmedium.woff") format("woff");
// font-weight: 500;
// }

// @font-face {
//  font-family: "Oswald";
//  src: url("../fonts/oswaldregular.woff2") format("woff2"),
//         url("../fonts/oswaldregular.woff") format("woff");
// font-weight: 400;
// }

// @font-face {
//  font-family: "Arial MT";
//  src: url("/fonts/ArialMT.woff") format("woff");
// }
