body {
  margin: 0 auto;
  // width: 320px;
  // outline: 1px solid;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  margin: 0 auto;
  max-width: $mobile;

  box-sizing: border-box;

  // outline: 1px solid;
}


@media (min-width: $tablet) {
  .container {
    min-width: $tablet;
  }
}


@media (min-width: $desktop) {
  .container {
    min-width: $desktop;
    padding-left: 40px;
    padding-right: 40px;
  }
}
// @media (min-width: $tablet) {
//   body {
//     margin: 0;
//   }
// }
