body {
  margin: 0 auto;
  overflow-x: hidden;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}


.container {
  margin: 0 auto;
  width: $mobile;
  box-sizing: border-box;
  display: block;
}

@media (min-width: $tablet) {
  .container {
    width: $tablet;
    // outline: 1px solid blue;
  }
}

@media (min-width: $desktop) {
  .container {
    width: $desktop;
    padding-left: 40px;
    padding-right: 40px;
    // outline: 1px solid;
  }
}
