@mixin link-base {
  text-decoration: none;
  // color: inherit;
}

@mixin button {
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 9px;
  padding-left: 73px;
  padding-right: 73px;

  background-color: #68b738;
}

@mixin label {
  color: #222222;
  font-family: "Oswald Regular";
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

@mixin input {
  border: 1px solid #cdcdcd;

  padding-top: 12px;
  padding-bottom: 12px;
  flex-grow: 1;
  margin-right: 20px;

  &[placeholder] {
    color: #444444;
    font-family: "Oswald Regular";
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;

    padding-left: 16px;
    padding-right: 16px;
  }
}
