@import "variables";
@import "normalize";
@import "mixins";
@import "global";
@import "base/typography";
@import "blocks/button";
@import "blocks/page-header";
@import "blocks/main-nav";
@import "blocks/inner-nav";
@import "blocks/main-intro";
@import "blocks/result";
@import "blocks/indicator";
@import "blocks/programs";
@import "blocks/about";
@import "blocks/example";
@import "blocks/address";
@import "blocks/page-footer";
@import "blocks/social";
@import "blocks/copyright";
@import "blocks/product";
@import "blocks/catalog";
@import "blocks/additions";
@import "blocks/addition";
@import "blocks/form-main";
@import "blocks/cat-info";
@import "blocks/target";
@import "blocks/person";
@import "blocks/comment";
@import "blocks/additionally";
