$font-primary: "Oswald", "Arial", sans-serif;
$font-secondary: "Arial", sans-serif;

$color-green: #68b738;
$color-green-darker: #5eaa2f;
$color-small-text: #444444;
$color-big-text: #111111;
$color-title: #222222;

$color-ligth-text: #ffffff;
$color-white-light: rgba(255, 255, 255, 0.6);
$color-white-lighter: rgba(255, 255, 255, 0.3);


$color-black-light: rgba(17, 17, 17, 0.6);
$color-black-lighter: rgba(17, 17, 17, 0.3);

$color-border: #cdcdcd;
$color-border-light: rgba(0, 0, 0, 0.1);
$bg-light: #f2f2f2;
$point: #eaeaea;


$mobile: 320px;
$tablet: 768px;
$desktop: 1300px;

$retina-dppx: 1.5dppx;
