$font-primary: "Oswald", "Arial", sans-serif;
$font-secondary: "Arial", sans-serif;

$color-green: #68b738;
$color-small-text: #444444;
$color-big-text: #111111;
$color-title: #222222;
$color-ligth-text: #ffffff;
$color-border: #cdcdcd;
$color-border-light: rgba(0, 0, 0, 0.1);
$bg-light: #f2f2f2;
